.icon-etape-style{
    font-size: large;
}

.etape-1e{
    box-shadow:
    0 2.3px 1.2px rgba(0, 0, 0, 0.02),
    0 4.9px 2.7px rgba(0, 0, 0, 0.015),
    0 8.1px 4.7px rgba(0, 0, 0, 0.013),
    0 12px 7.4px rgba(0, 0, 0, 0.011),
    0 17.5px 11.4px rgba(0, 0, 0, 0.01),
    0 26.2px 17.8px rgba(0, 0, 0, 0.009),
    0 43.6px 29.5px rgba(0, 0, 0, 0.007),
    0 96px 59px rgba(0, 0, 0, 0.005)
    ;
}

.etape-button-style{
    font-size: large;
    font-weight: bold;
}

.titre-rel{
    text-align: center;

}

.diapo-style
{
    margin: 0% 2% 0% 2%;
    padding-bottom: 1.3%;
    padding-top: 1%;
}

.diapo-style div{
    margin: 0% 2% 0% 2%;
    height: 5em;
    /*********/
    position: relative;
    display: inline-block;
    border-radius: 2px;
    box-shadow: 0 1px 2px rgba(15, 15, 15, 0.582);
    border-radius: 5px;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);

    background: rgba(8, 1, 1, 0.822);
    transition: all 0.5s linear;
}

.diapo-style .activ-box{
    position: relative;
    display: inline-block;
    background-color: #fff;
    border-radius: 2px;
    border-radius: 5px;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    -webkit-transform: scale(1.25, 1.25);
    transform: scale(1.25, 1.25);
}

/*Diapo style reclam*/
.diapo-style2
{
    margin: 0% 2% 0% 2%;
    padding-bottom: 1.3%;
    padding-top: 1%;
    padding-left: 10%;
    padding-right: 10%;
}

.diapo-style2 div{
    margin: 0% 5% 0% 5%;
    height: 5em;

    position: relative;
    display: inline-block;
    border-radius: 2px;
    box-shadow: 0 1px 2px rgba(15, 15, 15, 0.582);
    border-radius: 5px;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);

    background: rgba(8, 1, 1, 0.822);
    transition: all 0.5s linear;
}

.diapo-style2 .activ-box{
    position: relative;
    display: inline-block;
    background-color: #fff;
    border-radius: 2px;
    border-radius: 5px;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    -webkit-transform: scale(1.25, 1.25);
    transform: scale(1.25, 1.25);
}

.diapo-style2 div:after{
    content: "";
    border-radius: 5px;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    opacity: 0;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.diapo-style2 div:hover {
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);

    background-color: #fff;
}

.diapo-style2:hover::after {
    opacity: 1;
}

.diapo-nav-style2{
    border-bottom: 0.2rem solid #4e73df !important;
    border-left: 0.2rem solid #4e73df !important;
    border-right: 0.2rem solid #4e73df !important;
    width: 80%;
    margin: 0% 10% 0% 10%;
}
/*fin*/

.activ-etap1{
    border-bottom: 0.2rem solid  #f6c23e!important;
    border-right: 0.2rem solid #f6c23e !important;
}

.activ-etap2{
    border-bottom: 0.2rem solid  #0275d8!important;
    border-right: 0.2rem solid #0275d8 !important;
}

.activ-etap3{
    border-bottom: 0.2rem solid  #d9534f!important;
    border-right: 0.2rem solid #d9534f !important;
}

.activ-etap4{
    border-bottom: 0.2rem solid  #5bc0de!important;
    border-right: 0.2rem solid #5bc0de !important;
}

.activ-etap5{
    border-bottom: 0.2rem solid  #5cb85c!important;
    border-right: 0.2rem solid #5cb85c !important;
}

.diapo-style div:after{
    content: "";
    border-radius: 5px;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    opacity: 0;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.diapo-style div:hover {
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);

    background-color: #fff;
}

.diapo-style:hover::after {
    opacity: 1;
}

.diapo-nav-style{
    border-bottom: 0.2rem solid #4e73df !important;
    border-left: 0.2rem solid #4e73df !important;
    border-right: 0.2rem solid #4e73df !important;
    width: 100%;
}

.diapo-cont img{
    width: 100%;
    height: 100%;
    padding: 10% 0% 10% 0%;
}

.table .thead-warning th{
    color:#fff;
    background-color:#f6c23e;
    border-color:#f6c23e;
}

.table .thead-primary th{
    color:#fff;
    background-color:#0275d8;
    border-color:#0275d8;
}

.table .thead-danger th{
    color:#fff;
    background-color:#d9534f;
    border-color:#d9534f;
}

.table .thead-info th{
    color:#fff;
    background-color:#5bc0de;
    border-color:#5bc0de;
}

.table .thead-success th{
    color:#fff;
    background-color:#5cb85c;
    border-color:#5bc0de;
}

.wlcmsg
{
    height: 5em;
}

.wlcmsg .msg
{
    font-size: 20px;
}

.reclam-form input, .reclam-form select{
    border: none;
    border-bottom: 2px solid #0275d8;
    border-radius: 0%;
    margin: auto;
    background-color: aliceblue;
    
}

.reclam-form{
    padding: 0% 2% 0% 2%;
}

.reclam-form label{
    color: #000000;
}

